@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
}
.shape{
	position: fixed;
	top: -430px;
    left: -350px;
	height: 100%;
	z-index: 1;
}
.shape2{
	position: fixed;
	bottom: -520px;
    left: -160px;
	height: 100%;
	width:33%;
	z-index: 1;
}
.shape3{
	position: fixed;
	top: 25%;
    left: -550px;
    height: 430px;
	width: 47%;
}


.img{
	margin-top: 5rem;
}

.img img{
	width: 200px;
}

.text-success {
	color: #1b9b86 !important;
}
.box-shadow{
	box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.carousel-inner h3{
	width: 85%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 50px;
}

.carousel-indicators{
	bottom: -25px;
	margin-right: 0px!important;
	margin-left: 0px!important;
	justify-content: left!important;
}
.carousel-indicators .active {
    background-color: #1b9b86;
}
.carousel-indicators li{
	padding: 0px!important;
	background-color: #c6c6c6;
}

